<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CalendarDashboard</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CalendarDashboard.styles.css" asp-append-version="true" />
</head>

<body class="bg-background flex h-screen flex-col">
    <header>
        <div class="text-primary-text flex justify-between flex-row items-center px-6 py-4">
            <a class="text-2xl" asp-area="" asp-controller="Home" asp-action="Index">CalendarDashboard</a>
            <ul class="flex flex-row space-x-6">
                <li class="">
                    <a class="text-primary-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="">
                    <a class="text-primary-text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="">
                    <a class="text-primary-text" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
                </li>
            </ul>
        </div>
    </header>
        <main role="main" class="pb-3 overflow-y-auto flex-1">
            @RenderBody()
        </main>

    <footer class="border-t footer text-gray-500 px-6 py-4 bg-background">
        <div class="container">
            &copy; 2025 - CalendarDashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>

</html>
