
@using Microsoft.AspNetCore.Components.Web
@inject ApiClientService apiClientService;

@* @if (isLoading)
{
    <p class="text-primary-text">Loading...</p>
}
else if (!string.IsNullOrEmpty(data))
{
    <p class="text-primary-text">Data loaded successfully: @data</p>
}
else
{
    <p class="text-primary-text">Failed to load data. Please try again.</p>
} *@

@code {
    private List<CalendarDashboard.Models.LocalEvent> data;
    private bool isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            try
            {
                data = await apiClientService.CallApiAsync("/api/calendar/test");
            }
            catch (HttpRequestException ex)
            {
                Console.WriteLine($"Error fetching data: {ex.Message}");
                data = null;
            }
            finally
            {
                isLoading = false;
                StateHasChanged();
            }
        }
    }
}